@model Web_TuyenDung.Models.ViewModels.QuanLyUngTuyenViewModel
@{
    ViewData["Title"] = "Quản lý ứng tuyển";
    int stt = 1;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<style>
    .btn-custom {
        background-color: #ff7f50; /* Màu cam đậm */
        color: #fff; /* Màu chữ trắng */
        border-color: #ff7f50; /* Màu viền */
    }

    .btn-custom:hover {
        background-color: #e65c00; /* Màu cam sáng khi hover */
        border-color: #e65c00; /* Màu viền khi hover */
        color: #fff; /* Màu chữ trắng khi hover */
    }
    .ChiTiet{
        overflow: auto;
        margin-left: 40px;
        font-size: 20px;
        font-family: 'Fran'Font Awesome 5 Free';
    }
    
</style>

<main class="py-4">
    <section class="job-list">
        <div class="container">
            <h1 class="text-center mb-4">Quản lý ứng tuyển cho từng việc làm</h1>
            <div class="ChiTiet">
                <p>Tuyển dụng: @Model.TieuDe</p>
                <p>Mô tả: @Html.Raw(Model.MoTa.Replace("\r\n", "<br/>")) </p> 
                <p>Mức lương: @Model.MucLuong</p>
            </div>
            


            </bh>
            <div class="create-job text-center mb-4">
                <p style="font-size:30px">Danh sách ứng tuyển</p>
            </div>

            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>STT</th>
                        <th>Họ tên </th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Ngày sinh</th>
                        <th>Mô tả ứng viên</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ungtuyen in Model.UngTuyenViews)
                    {
                        <tr>
                            <td>@stt</td>
                            <td>@ungtuyen.HoTen</td>
                            <td>@ungtuyen.Email</td>
                            <td>@ungtuyen.SDT</td>
                            <td>@ungtuyen.NgaySinh.Value.ToString("dd/MM/yyyy")</td>
                            <td>@Html.Raw(ungtuyen.MoTa.Replace("\r\n", "<br/>"))</td>
                            <td>
                                <a href="@Url.Action("ThongBao", "Admin", 
                                    new { id_nd = ungtuyen.MaND })" 
                                    class="btn btn-custom m2-2">Gửi thông báo</a>
                            </td>
                        </tr>
                        stt++;
                    }
                </tbody>
            </table>
        </div>
    </section>
</main>

<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

